html {
    font-size: 16px;
}

body {
    margin: 0;
    height: 100vh;
    background: url("./img/site-background-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@font-face {
    font-family: "Bebas Neue";
    src: url("./fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
}

header {
    margin-top: 2%;
    color: white;
    width: 100%;
    font-family: "Bebas Neue";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#headline {
    font-size: 4rem;
    margin: 2% 0;
}

#tab-switch {
    display: flex;
    justify-content: space-around;
}

.tab-button {
    padding: 0;
    margin: 0 10px;
    border: none;
    background: none;
    font-family: inherit;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.tab-button:hover, .tab-button-selected{
    text-decoration: underline;
    text-decoration-color: #48cae4;
    text-decoration-thickness: 0.4rem;
}

.tab-button:active {
    background: none;
}

@font-face {
    font-family: "Bitter";
    src: url("./fonts/Bitter/Bitter-Regular.ttf");
}

main {
    margin-top: 4vh;
    max-height: 60%;
    overflow: auto;
    width: 50%;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bitter', serif;
    color: white;
}

main > * {
    margin: 0.6rem 0;
}

#tab-heading {
    font-size: 1.9rem;
}

.tab-paragraph {
    font-size: 1.8rem;
    text-align: center;
    padding: 0 1rem;
    line-height: 2.4rem;
}

footer {
    font-family: "Bebas Neue";
    color: white;
    margin-top: auto;
    font-size: 1.2rem;
}

#github-link {
    color: white;
    text-decoration: none;
}

#github-link:hover {
    text-decoration: underline;
}

#github-link:active {
    color: #48cae4;
}


@media (max-width: 751px) and (orientation: portrait), (max-width: 825px) and (orientation: landscape) {
    html {
        font-size: 11px;
    }

    main {
        width: 80%;
    }
}
